# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# Data
data/
data/**
*.zip

# Vite & Node
.vite/
frontend/.vite/
node_modules/
frontend/node_modules/
*node_modules

# Checkpoints & Logs
checkpoints/
*.pt
*.pth
*.log

# IDE
.vscode/
.idea/
.obsidian/
